.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(25, 59, 82);
  font-size: 64px;
  line-height: 64px;

  font-weight: 400;
}
.Weather .unit {
  color: rgb(219, 54, 54);
  font-size: 22px;
  font-weight: 500;
  position: relative;
  line-height: 1;
  top: -24px;
}

.temperature-section {
  display: flex;
  align-items: first baseline;
  justify-content: flex-start; /* keep them aligned left inside col */
  margin-left: 40px;
}

.temperature-section .icon-img {
  width: 50px; /* adjust size */
  height: 50px;
  margin-bottom: 20px;
}

.humidity-wind {
  text-align: center; /* center text */
  margin-left: 60%; /* ✅ shifts block towards Mon */
  margin-top: -50px; /* pulls it up closer if needed */
}

.forecast-section {
  margin-top: 40px; /* increase this to push forecasts lower */
}

/* Optional: Add more spacing inside each forecast card */
.Forecast-day {
  margin-bottom: 10px;
  color: rgb(241, 135, 178);
  font-weight: bold;
}

.Forecast-temp {
  margin-top: 5px;
}
